.hotel{
    min-width:50rem;
    background-color:rgb(255, 255, 255);
    border-radius:0.5rem;
    margin-top:20%
}
.label{
    padding-top:3rem;
    margin-bottom:0.5rem;
    font-size:1rem;
    color:black;
    font-weight: bold;
    margin-left:2rem;
    margin-bottom:1rem;
    margin-top:1rem;
  }

.guest{
    margin-left:2rem;
    margin-right:2rem;

    width:95%;
    height:8rem;
    background-color:gray;
}
  
.input{
    border:2px solid rgb(226, 221, 221);
    margin-right:3rem;
    width:95%;
    border-radius:1px;
    height:3rem;
    margin-top:0.5rem;
    
    padding-left:1rem;
    margin-left:1rem


}
.textinput{
    border:2px solid rgb(226, 221, 221);
    margin-right:3rem;
    width:95%;
    border-radius:1px;
    height:7rem;
    margin-top:0.5rem;
   
    padding-left:1rem;
    margin-left:1rem


}
.TypeGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem; 
    margin-left:2rem;
    margin-right:2rem;
  }
.button{
    background-color: rgb(7, 101, 116);
    color:white;
    width:7rem;
    padding:1rem;
    align-items:center;
    border-radius:2rem;
    text-align:center;
}
.button:hover{
    background-color: rgb(5, 76, 87);
    color:white;
    padding:1rem;
    width:7rem;
    align-items:center;
    border-radius:2rem;
    text-align:center;
}
.typeLabel{
    cursor: pointer;
    padding:1rem;
    background-color: rgb(206, 200, 200);
    color:black;
    border-radius: 2rem;
    text-align:center;
}

.typeHoverLabel{
    cursor: pointer;
    padding:1rem;
    background-color: rgb(102, 137, 148);
    color:black;
    border-radius: 2rem;
    text-align:center;
}

@media (max-width: 768px) {
    .hotel {
        min-width: 30rem; 
        margin-left: 10%; 
        margin-right: 10%; 
    }
    .TypeGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem; 
        margin-left:2rem;
        margin-right:2rem;;
      }
      .typeLabel{
        cursor: pointer;
       
        background-color: gray;
        color:black;
    
        text-align:center;
    }
    .typeHoverLabel{
        cursor: pointer;
      
        background-color: rgb(102, 137, 148);
        color:black;
       
        text-align:center;
    }

}

@media (max-width: 480px) {
    .hotel {
        min-width: 15rem; 
        margin-left: 5%; 
        margin-right: 5%; 
    }
    .TypeGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem; 
        margin-left:2rem;
        margin-right:2rem;;
      }
      .typeLabel{
        cursor: pointer;
       
        background-color: gray;
        color:black;
    
        text-align:center;
    }
    .typeHoverLabel{
        cursor: pointer;
      
        background-color: rgb(102, 137, 148);
        color:black;
       
        text-align:center;
    }
}