html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; 
}

body {
  background-color: aliceblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(1, 7, 16); 
}

.ViewHeading {
  color: rgb(8, 47, 83);
  font-size: 1.4rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.component {
  display: flex;
  flex-direction: column; 
  background-color: white;
  border-radius: 1rem;
  margin: 2rem;
  text-align: center;
  overflow: hidden;
}

.View_heading {
  margin-top: 0.6rem;
  text-align: center;
}

.item {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  margin-top: 2rem;
}

.item-description {
  color: black;
  margin-left:4rem;
  margin-bottom: 1rem;;
  display: flex;
  align-items: center; /* Vertically align items */
}

.item-description-end {
  color: black;
  margin-bottom: 1rem;
}

.facilities-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 1rem;
}

.facility-item {
  background-color: #c0c2c7;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem; 
  margin-bottom: 0.2rem; 
  margin-left: 3rem;
}

.button-item {
  background-color: #033346;
  border: 1px solid #021e22;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem; 
  color: white;
  margin-bottom: 0.5rem; 
  align-items: center;
 margin-left: 3rem;
  margin-top: 1rem;
}
.button-item:hover {
  background-color: #08516d;
  border: 1px solid #021e22;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem; 
  color: white;
  margin-bottom: 0.5rem; 
  align-items: center;
  margin-left: 3rem;
  margin-top: 1rem;
}

.delete-item {
  background-color: red;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem; 
  color: white;
  margin-bottom: 0.5rem; 
  align-items: center;
  margin-top: 1rem;
}
.delete-item:hover {
  background-color: rgb(100, 18, 18);
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem; 
  color: white;
  margin-bottom: 0.5rem; 
  align-items: center;
  margin-top: 1rem;
}


.individualItem {
  border: 0.3rem solid gray;
  width: 100%;
  max-width: 50rem; 
  height: auto; 
  background-color: white;
  margin-left: 3rem;
  display: flex;
  flex-direction: column; /* Changed to column to align descriptions vertically */
  margin-bottom: 1rem;
  margin-top:2rem;
}

.individual {
  width: 100%; 
  max-width: 23rem; 
  height: auto; 
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-left: -1rem;
}
