html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; 
}

body {
  background-color: aliceblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(1, 7, 16); 
}

.ViewHeading {
  color: rgb(8, 47, 83);
  font-size: 1.4rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.component {
  display: flex;
  flex-direction: column; 
  background-color: white;
  border-radius: 1rem;
  margin: 2rem;
  text-align: center;
  overflow: hidden;
}

.View_heading {
  margin-top: 0.6rem;
  text-align: center;
}

.item {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right:2rem;
}

.item-description {
  border:1px solid rgb(181, 180, 180);
  color: rgb(113, 110, 110);
  margin-top:0.6rem;
  margin-left:1rem;
  margin-bottom: 1rem;;
  display: flex;
  align-items: center; 
  padding:1rem;
}

.item-description-end {
  color: black;
  margin-bottom: 1rem;
}

.facilities-list {
  display: flex;
  flex-direction:column;
 
}

.facility-item {
  border-radius: 0.5rem;
  margin-right: 0.3rem; 
  margin-bottom: 0.2rem; 
}

.button-item {
  background-color: #010e14;
  border: 1px solid #021e22;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem; 
  color: white;
  margin-bottom: 0.5rem; 
  align-items: center;
 margin-left: 3rem;
  margin-top: 1rem;
}
.button-item:hover {
  background-color: #113442;
  border: 1px solid #021e22;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem; 
  color: white;
  margin-bottom: 0.5rem; 
  align-items: center;
  margin-left: 3rem;
  margin-top: 1rem;
}

.delete-item {
  background-color: rgb(223, 114, 114);
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem; 
  color: white;
  margin-bottom: 0.5rem; 
  align-items: center;
  margin-top: 1rem;
}
.delete-item:hover {
  background-color: rgb(100, 18, 18);
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem; 
  color: white;
  margin-bottom: 0.5rem; 
  align-items: center;
  margin-top: 1rem;
}


.individualItem {
  display:flex;
  flex-wrap:nowrap;
  border: 1px solid rgb(177, 178, 182);
  width: auto; 
  height: auto; 
  background-color: aliceblue;
  display: flex;
  flex-direction: column; 
  margin-bottom: 1rem;
  margin-top:2rem;
  margin-left: 2rem;
  margin-right:2rem;
  padding:2rem;
}

.individual {
  width: 100%; 
  max-width: 23rem; 
  height: auto; 
  background-color: rgb(204, 200, 200);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.Search{
  display:flex;
  flex-direction:row;
  gap:3;
  margin-top:7rem;
  background-color: rgb(255, 227, 12);
  width:80rem;
  height:5rem;
  border-radius:3px;
  margin-left:8rem;
}
.page{
  display:flex;
  flex-direction:row;
  background-color:white;
  color:black;
  margin-top:0.9rem;
  margin-left:0.6rem;
  width:13rem;
  height:3rem;
}
.icon{
  width:2rem;
  height:2rem;
  margin-top:0.3rem;
}
.count{
  display:flex;
  flex-direction:row;
  gap:2;
  background-color:white;
  color:black;
  margin-top:0.9rem;
  margin-left:0.6rem;
  width:16rem;
  padding-left:1rem;
  padding-top:0.6rem;
  height:3rem;
}
.checkin{
  display:flex;
  flex-direction:column;
  background-color:white;
  color:black;
  margin-top:0.9rem;
  margin-left:0.6rem;
  width:13rem;
  height:3rem;
}
.checkout{
  display:flex;
  flex-direction:column;
  background-color:white;
  color:black;
  margin-top:0.9rem;
  margin-left:0.6rem;
  width:13rem;
  height:3rem;
}
.Search-button{
  width:10rem;
  height:2.5rem;
  background-color: rgb(2, 47, 92);
  color:white;
  text-align:center;
}
.Search-button:hover{
  width:10rem;
  height:2.5rem;
  background-color: rgb(21, 80, 139);
  color:white;
  text-align:center;
}
.clear-button{
  margin-left:0.5rem;
  width:8rem;
  height:2.5rem;
  background-color: rgb(183, 13, 13);
  color:white;
  text-align:center;
}
.clear-button:hover{
  margin-left:0.5rem;
  width:8rem;
  height:2.5rem;
  background-color: rgb(211, 53, 53);
  color:white;
  text-align:center;
}
.button-search{
  margin-top: 1rem;
  display:flex;
  flex-direction:row;
  gap:4;
  margin-left:2rem;
}
.ShowingFilter{
  display:grid;
 grid-template-columns:250px 1fr;
  margin-top:1rem;

  
}
.space-y-5 > * {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.filter{
  position: sticky;
  border: 1px solid rgb(204, 202, 202);
  border-radius: 5px;
  font-weight: bold;
  padding: 1rem;
  width: 250px; 
  height: 100vh; 
  overflow-y: auto; 
  margin-left:2rem;

}
.text-color{
  color:rgb(102, 95, 95);
  font-weight: lighter;
}
.specificPage{
  background: aliceblue;
  color:black;
  display:flex;
  flex-direction:row;
  padding:0.5rem;
  padding-left:0.7rem;
  padding-right:0.7rem;
  border:1px solid rgb(205, 201, 201);
  cursor:pointer;
  margin-bottom: 10rem;;
}
.specificPage:hover,.specificPage:focus{
  background: rgb(197, 194, 194);
  
}
.HotelsBar {
  flex-grow: 1;
  padding: 1rem;
}
.BookingName{
  color:black;
  text-align: center;
  font-size:2rem;
  margin-top:10rem;
}

.Booking1{
  width:25rem;
  height:32rem;
  border :1px solid rgb(181, 176, 176);
  border-radius:3px;;
  padding: 1rem;
  font-family:Arial, Helvetica, sans-serif;
}
.Booking2{
  width:30rem;
  height:32rem;
  border :1px solid rgb(181, 176, 176);
  border-radius:3px;;
  margin-left:1rem;
  padding:1rem;
  
}
.taxesDate{
  font-size:0.8rem;
  color:red;
}
.heading{
  color:rgb(81, 76, 76);
}
.paragraph{
  width:15rem;
 padding:0.5rem;
  border-radius: 3px;
  font-weight:bold;
}
.paragraph1{
  background-color:rgba(128, 124, 124, 0.781);
  width:5rem;
 padding:0.5rem;
  border-radius: 3px;
}
.paragraphInput{
  background-color:rgba(218, 214, 214, 0.83);
  width:10rem;
  color:black;
  height:2rem;
 padding:0.5rem;
  border-radius: 3px;
  
}
.paragraphEmail{
  background-color:rgba(218, 214, 214, 0.83);
  width:23rem;
  color:black;
  height:2rem;
 padding:0.5rem;
  border-radius: 3px;
  
}
.PriceSummary{
  width:23rem;
  height:5rem;
  border-radius:3px;
  background-color:rgb(136, 159, 173);
  margin-top:1rem;
  padding:1rem;
  padding-bottom: 2rem;
}
.SearchItemGrid{
  display:grid;
  grid-template-columns:1fr 2fr;
  border:1px solid rgb(222, 217, 217);
  gap:4;
  margin-top: 2rem;
  margin-left:3rem;
  margin-right:5rem;
  padding: 0.7rem;;
}
.taxes{
  font-size:0.8rem;
  color:rgb(95, 90, 90)
}
.facility{
  background-color: rgb(175, 171, 171);
  color:black;
  padding:0.5rem;
  border-radius:2px;
  margin-left:0.4rem;
  font-weight:bold;
  margin-bottom: 3rem;
}
.Booking-button{
  cursor: pointer;
  border-radius:4px;
  background-color:rgb(4, 48, 73);
  padding:0.8rem;
  margin-right: 1rem;
  color:white;
  margin-bottom:1rem;
  margin-top: 0.4rem;

}
.sortingOption{
  width:10rem;
  margin-right:2rem;
  height:3rem;
  text-align:center;
  background-color:rgb(228, 232, 236);
}

.Booking-button:hover{
  cursor: pointer;
  border-radius:4px;
  background-color:rgb(8, 71, 107);
  padding:0.8rem;
  color:white;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
}
@media (max-width: 768px) {
  .ShowingFilter {
    flex-direction: column;
  }

  .filter {
    position: relative;
    width: 100%;
    margin-left: 0;
  }

  .HotelsBar {
    margin-left: 0;
  }
}